<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8" >
        <title>{% block title %}Supervision{% endblock %}</title>
        <link href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" rel="stylesheet">
        <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

        <style>
            .rectangle{
                width: 500px;
                height: 103px;
                border-width:5px;
                background: #C4C4C4;
            }
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }

            td, th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }

            tr:nth-child(even) {
                background-color: #dddddd;
            }
            .cardstyle{
                margin-left: 450px;
            }
            .cardstyleras{
                margin-left: 350px;
            }

            .sidenav {
                height: 100%;
                width: 250px;
                position: fixed;
                z-index: 1;
                top: 0;
                left: 0;
                background-color: #111;
                overflow-x: hidden;
                transition: 0.5s;
                transform: translateX(-100%);
                padding-top: 60px;
            }

            .sidenav a {
                padding: 8px 8px 8px 32px;
                text-decoration: none;
                font-size: 25px;
                color: #818181;
                display: block;
                transition: 0.3s;
            }

            .sidenav a:hover {
                color: #f1f1f1;
            }

            .sidenav .closebtn {
                position: absolute;
                top: 0;
                right: 25px;
                font-size: 36px;
                margin-left: 50px;
            }
            .open-bg {

                overflow: hidden;
            }
            .open {
                transform: translateX(0px);
            }
            @media screen and (max-height: 450px) {
                .sidenav {padding-top: 15px;}
                .sidenav a {font-size: 18px;}
            }

            div button{
                display:inline-block;
            }
            .btnback{
                margin-left: 115px;
            }
            .buttonhistorique{
                margin-left: 1140px;
            }
            .centering{
                text-align: center;
            }
            .fixed-position {
                position: fixed;
            }
        </style>
        {% block stylesheets %}  {% endblock %}


    </head>
    <body>
    <div class="container">
        <div id="mySidenav" class="sidenav">
            <center><svg width="62" height="50" viewBox="0 0 62 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path opacity="0.9" d="M10.8441 31.7053C10.1088 31.7053 9.51283 31.1396 9.51283 30.4417C9.51283 29.7439 10.1088 29.1782 10.8441 29.1782C11.5793 29.1782 12.1753 29.7439 12.1753 30.4417C12.1753 31.1396 11.5793 31.7053 10.8441 31.7053Z" fill="white"/>
                    <path opacity="0.9" d="M55.1233 41.6808C54.6884 41.469 54.2648 41.3219 53.8639 41.0921C52.5554 40.3527 51.2166 39.6563 49.8929 38.9383C49.2216 38.574 48.5255 38.2526 47.8091 37.9763C46.7707 37.5586 45.6841 37.2586 44.5717 37.0825C43.6372 36.9487 42.6951 36.8672 41.7504 36.8384C41.1411 36.8373 40.5323 36.8721 39.9275 36.9425C39.3955 36.9743 38.8661 37.0391 38.3429 37.1363C37.028 37.397 35.7499 37.803 34.5345 38.346C34.3298 38.4187 34.1313 38.5063 33.9408 38.6081C33.4037 38.9455 32.8062 39.2327 32.2616 39.5342C31.5695 39.8932 30.8925 40.3024 30.1891 40.665C29.4857 41.0275 28.8768 41.3829 28.1771 41.6629C27.4775 41.9429 26.7286 42.248 25.9798 42.4921C25.2911 42.7206 24.589 42.9111 23.8771 43.0628C22.9744 43.2474 22.0547 43.346 21.1314 43.3572C19.955 43.4009 18.777 43.3818 17.6029 43.2998C16.5814 43.1969 15.5699 43.0192 14.5773 42.7685C12.5464 42.2695 10.7084 41.3793 8.90445 40.4496C8.07243 40.026 7.25931 39.5737 6.43485 39.1394C6.34971 39.1105 6.27693 39.0558 6.22773 38.9838C6.17853 38.9118 6.15562 38.8265 6.16256 38.7409C6.16256 37.664 6.16256 36.5871 6.16256 35.5102C6.16256 35.0328 6.16256 35.0328 6.63908 35.2051C6.71481 35.2265 6.7893 35.2516 6.86221 35.2805C8.13294 35.9338 9.39988 36.5943 10.6668 37.2512C11.6886 37.7959 12.7473 38.2755 13.8361 38.6871C14.0819 38.7804 14.3391 38.8737 14.5925 38.9491C14.8458 39.0245 15.1181 39.1106 15.3867 39.1788C16.4279 39.4626 17.4978 39.6407 18.5786 39.7101C20.6097 39.8586 22.6523 39.6492 24.6032 39.0927C26.1517 38.6084 27.6363 37.9568 29.028 37.1507C30.4425 36.3717 31.8342 35.5641 33.3167 34.8964C36.1309 33.6232 39.2343 33.0336 42.348 33.1805C44.4586 33.234 46.5444 33.6273 48.5163 34.3436C49.9005 34.8683 51.2407 35.4924 52.5251 36.2102C53.3307 36.6553 54.1286 37.1184 54.9304 37.5743C54.9872 37.5968 55.0358 37.6347 55.0701 37.6832C55.1043 37.7317 55.1229 37.7887 55.1233 37.8471C55.1233 39.1142 55.1233 40.3778 55.1233 41.6808Z" fill="white"/>
                    <path opacity="0.9" d="M6.14071 32.3803C6.14071 31.246 6.14071 30.1081 6.14071 28.9702C6.14071 28.6579 6.32603 28.5502 6.57564 28.4461C6.66738 28.4154 6.75705 28.3795 6.84415 28.3384C7.60054 27.9256 8.38719 27.5092 9.16249 27.1036C9.91538 26.6811 10.6918 26.2976 11.4884 25.9549C12.1238 25.7072 12.7553 25.4451 13.4134 25.2369C15.141 24.6983 16.9372 24.3832 18.7535 24.3C20.0376 24.2396 21.3249 24.2888 22.5997 24.4472C24.4752 24.6773 26.302 25.181 28.0155 25.9405C29.464 26.5759 30.8217 27.3548 32.1756 28.1122C32.6673 28.3779 33.1614 28.6399 33.6581 28.8984C34.898 29.5553 36.2192 30.0629 37.5914 30.4096C39.0064 30.7456 40.464 30.8918 41.9217 30.844C42.6149 30.8417 43.3073 30.7961 43.9942 30.7076C45.4682 30.4976 46.9025 30.0865 48.2527 29.4871C49.1906 29.0671 50.0982 28.6148 50.9946 28.1302C52.2766 27.4482 53.5133 26.6943 54.8522 26.0985C55.045 26.0123 55.1245 25.9836 55.1245 26.2313C55.1245 27.4302 55.1245 28.6327 55.1245 29.8209C55.1285 29.8898 55.11 29.9583 55.0714 30.0168C55.0327 30.0753 54.976 30.121 54.9089 30.1476C53.6495 30.7219 52.5263 31.5009 51.2744 32.086C50.484 32.445 49.7201 32.8757 48.9107 33.2024C47.2393 32.5928 45.4865 32.2074 43.703 32.0573C43.0147 31.9998 42.315 31.9711 41.6229 31.9711C41.1691 31.9711 40.7115 31.9711 40.2614 32.007C38.5011 32.0977 36.76 32.4005 35.0801 32.908C34.8116 32.9906 34.5393 33.0839 34.2632 33.1844L33.5825 32.908C31.8768 32.1901 30.2998 31.2317 28.666 30.3522C27.2077 29.5219 25.6413 28.8763 24.0066 28.4317C22.7794 28.128 21.5191 27.9605 20.2511 27.9328C19.275 27.9064 18.2982 27.9592 17.3315 28.0907C17.2218 28.0907 16.9533 28.0512 17.1084 28.3276C17.9442 29.8378 18.3998 31.5113 18.4396 33.2167C18.5643 34.9264 18.3905 36.6438 17.9253 38.2997C17.8685 38.5222 17.7513 38.5509 17.5471 38.515C16.4144 38.3643 15.3031 38.0934 14.2341 37.7074C14.0374 37.632 13.9807 37.5638 14.0374 37.3484C14.2559 36.5586 14.3828 35.7485 14.4156 34.9326C14.4156 34.3295 14.4156 33.7229 14.4156 33.1378C14.374 32.829 14.3438 32.5203 14.2908 32.2116C14.2093 31.7386 14.0827 31.2737 13.9126 30.8224C13.7434 30.3261 13.4878 29.8601 13.1562 29.444C12.8852 29.0841 12.5238 28.7941 12.1048 28.6004C11.6661 28.408 11.1798 28.3347 10.6998 28.3885C10.2199 28.4424 9.76499 28.6213 9.38562 28.9056C9.03429 29.1683 8.79248 29.5408 8.70316 29.9569C8.61384 30.3729 8.68278 30.8055 8.89775 31.1778C8.93935 31.2388 8.96204 31.2855 8.87506 31.3358C8.71546 31.4453 8.5501 31.5472 8.37963 31.6409C7.74804 31.9603 7.07107 32.2009 6.46218 32.5562C6.38276 32.6065 6.28821 32.6747 6.1861 32.6244C6.08399 32.5742 6.14071 32.4629 6.14071 32.3803Z" fill="white"/>
                    <path d="M1.2251 32.85L1.2251 41.425L1.2251 50" stroke="white"/>
                    <path opacity="0.9" d="M50.4059 12.1052C51.1412 12.1052 51.7372 11.5395 51.7372 10.8417C51.7372 10.1438 51.1412 9.57812 50.4059 9.57812C49.6707 9.57812 49.0747 10.1438 49.0747 10.8417C49.0747 11.5395 49.6707 12.1052 50.4059 12.1052Z" fill="white"/>
                    <path opacity="0.9" d="M6.12671 22.0808C6.56163 21.869 6.9852 21.7218 7.38609 21.4921C8.69463 20.7526 10.0334 20.0562 11.3571 19.3383C12.0284 18.9739 12.7245 18.6525 13.4409 18.3763C14.4793 17.9586 15.5659 17.6586 16.6783 17.4824C17.6128 17.3487 18.5549 17.2671 19.4996 17.2384C20.1089 17.2373 20.7177 17.272 21.3225 17.3425C21.8545 17.3743 22.3839 17.4391 22.9071 17.5363C24.222 17.797 25.5001 18.203 26.7155 18.746C26.9202 18.8187 27.1187 18.9063 27.3092 19.008C27.8463 19.3455 28.4438 19.6326 28.9884 19.9342C29.6805 20.2931 30.3575 20.7024 31.0609 21.0649C31.7643 21.4275 32.3732 21.7828 33.0729 22.0628C33.7725 22.3428 34.5214 22.648 35.2702 22.892C35.9589 23.1205 36.661 23.3111 37.3729 23.4628C38.2756 23.6473 39.1953 23.7459 40.1186 23.7572C41.295 23.8009 42.473 23.7817 43.6471 23.6997C44.6686 23.5968 45.6801 23.4192 46.6727 23.1685C48.7036 22.6695 50.5416 21.7793 52.3456 20.8495C53.1776 20.426 53.9907 19.9737 54.8151 19.5393C54.9003 19.5104 54.9731 19.4558 55.0223 19.3838C55.0715 19.3118 55.0944 19.2264 55.0874 19.1409C55.0874 18.064 55.0874 16.9871 55.0874 15.9102C55.0874 15.4328 55.0874 15.4328 54.6109 15.6051C54.5352 15.6264 54.4607 15.6516 54.3878 15.6804C53.1171 16.3338 51.8501 16.9943 50.5832 17.6512C49.5614 18.1958 48.5027 18.6755 47.4139 19.087C47.1681 19.1804 46.9109 19.2737 46.6575 19.3491C46.4042 19.4244 46.1319 19.5106 45.8633 19.5788C44.8221 19.8625 43.7522 20.0406 42.6714 20.1101C40.6403 20.2585 38.5977 20.0492 36.6468 19.4927C35.0983 19.0083 33.6137 18.3567 32.222 17.5507C30.8075 16.7717 29.4158 15.964 27.9333 15.2964C25.1191 14.0232 22.0157 13.4336 18.902 13.5805C16.7914 13.634 14.7056 14.0272 12.7337 14.7435C11.3495 15.2683 10.0093 15.8923 8.72489 16.6102C7.91934 17.0553 7.12135 17.5183 6.31959 17.9742C6.2628 17.9967 6.21424 18.0346 6.17995 18.0831C6.14566 18.1316 6.12714 18.1886 6.12671 18.247C6.12671 19.5142 6.12671 20.7777 6.12671 22.0808Z" fill="white"/>
                    <path opacity="0.9" d="M55.1093 12.7803C55.1093 11.646 55.1093 10.5081 55.1093 9.37014C55.1093 9.05784 54.924 8.95015 54.6744 8.84605C54.5826 8.81539 54.4929 8.77943 54.4058 8.73836C53.6495 8.32555 52.8628 7.90915 52.0875 7.50352C51.3346 7.08107 50.5582 6.69761 49.7616 6.35483C49.1262 6.10714 48.4947 5.8451 47.8366 5.6369C46.109 5.09826 44.3128 4.78312 42.4965 4.7C41.2124 4.63952 39.9251 4.68878 38.6503 4.84718C36.7748 5.07726 34.948 5.58096 33.2345 6.34047C31.786 6.97584 30.4283 7.75479 29.0744 8.51221C28.5827 8.77784 28.0886 9.03989 27.5919 9.29834C26.352 9.95522 25.0308 10.4629 23.6586 10.8096C22.2436 11.1456 20.786 11.2918 19.3283 11.2439C18.6351 11.2416 17.9427 11.1961 17.2558 11.1075C15.7818 10.8975 14.3475 10.4864 12.9973 9.88705C12.0594 9.46706 11.1518 9.01476 10.2554 8.53016C8.97335 7.84812 7.73666 7.0943 6.39785 6.49842C6.20497 6.41226 6.12555 6.38355 6.12555 6.63123C6.12555 7.83018 6.12555 9.03271 6.12555 10.2209C6.12149 10.2898 6.14004 10.3582 6.17865 10.4167C6.21725 10.4752 6.27401 10.5209 6.34112 10.5475C7.60051 11.1219 8.72374 11.9008 9.97557 12.486C10.766 12.8449 11.5299 13.2757 12.3393 13.6023C14.0107 12.9928 15.7635 12.6074 17.547 12.4572C18.2353 12.3998 18.935 12.3711 19.6271 12.3711C20.0809 12.3711 20.5385 12.3711 20.9886 12.407C22.7489 12.4977 24.49 12.8005 26.1699 13.308C26.4384 13.3905 26.7107 13.4839 26.9868 13.5844L27.6675 13.308C29.3732 12.5901 30.9502 11.6316 32.584 10.7522C34.0423 9.92187 35.6087 9.27623 37.2434 8.83169C38.4706 8.52793 39.7309 8.36048 40.9989 8.33273C41.975 8.30637 42.9518 8.35921 43.9185 8.49067C44.0282 8.49067 44.2967 8.45119 44.1416 8.72759C43.3058 10.2378 42.8502 11.9112 42.8104 13.6167C42.6857 15.3263 42.8595 17.0438 43.3247 18.6996C43.3815 18.9222 43.4987 18.9509 43.7029 18.915C44.8356 18.7643 45.9469 18.4934 47.0159 18.1073C47.2126 18.032 47.2693 17.9638 47.2126 17.7484C46.9941 16.9586 46.8672 16.1485 46.8344 15.3325C46.8344 14.7295 46.8344 14.1228 46.8344 13.5377C46.876 13.229 46.9062 12.9203 46.9592 12.6116C47.0407 12.1386 47.1673 11.6736 47.3374 11.2224C47.5066 10.726 47.7622 10.2601 48.0938 9.84397C48.3648 9.48407 48.7262 9.19411 49.1452 9.0004C49.5839 8.80799 50.0702 8.73464 50.5502 8.7885C51.0301 8.84235 51.485 9.02131 51.8644 9.30552C52.2157 9.56831 52.4575 9.9408 52.5468 10.3568C52.6362 10.7728 52.5672 11.2054 52.3522 11.5778C52.3106 11.6388 52.288 11.6855 52.3749 11.7357C52.5345 11.8453 52.6999 11.9471 52.8704 12.0408C53.502 12.3603 54.1789 12.6008 54.7878 12.9562C54.8672 13.0064 54.9618 13.0747 55.0639 13.0244C55.166 12.9741 55.1093 12.8629 55.1093 12.7803Z" fill="white"/>
                    <path d="M14.7 48.7752H1.225M61.25 47.55V1H0" stroke="white"/>
                </svg>
                </center>

            <a href="javascript:void(0)" class="closebtn" id="closeNav">&times;</a>
            <a href="/">Accueil</a>
            <a href="{{ path('alevinage')}}">Alevinage</a>
            <a href="{{ path('pisciculture')}}">Pisciculture</a>
            <a href="#">Detail</a>
            <a href="#">Transformation</a>
            <a href="#">Izeron</a>
        </div>
        <span style="font-size:30px;cursor:pointer" id="openNav" class="logo">&#9776; Supervision Charles Murgat

        </span>
    </div>
        {% block body %}
        {% endblock %}
        {% block javascripts %}{% endblock %}


    </body>
<script>
    $( "#openNav" ).click(function() {
        $('#mySidenav').addClass('open');
        $('body').addClass('open-bg');
    });
    $( "#closeNav" ).click(function() {
        $('#mySidenav').removeClass('open');
        $('body').removeClass('open-bg');
    });



</script>
</html>
